@import "tailwindcss";

@layer base {
  html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    -webkit-tap-highlight-color: transparent;
  }
}

.pb-safe {
  padding-bottom: max(env(safe-area-inset-bottom, 0px), 0.25rem);
}

.pt-safe {
  padding-top: max(env(safe-area-inset-top, 0px), 0.25rem);
}
